spring.application.name=apptrack

spring.datasource.url=${DB_URL=jdbc:postgresql://localhost:5433/apptrack}
spring.datasource.username=${DB_USER:apptrack}
spring.datasource.password=${DB_PASSWORD}
spring.datasource.driver-class-name=org.postgresql.Driver

spring.jpa.hibernate.ddl-auto=validate
spring.jpa.show-sql=true

spring.flyway.enabled=true
spring.flyway.locations=classpath:db/migration
spring.flyway.baseline-on-migrate=false